//colour
$primary-dark: #13182c;
$primary-mid: #2e66e5;
$primary-light: #ffffff;

$secondary-dark: #5c667e;
$secondary-light: #bdc5d5;

$background-dark: #232940;
$background-light: #f7f8f9;

$supporting-positive: #158463;
$supporting-negative: #c94515;

$instock: #eef6f4;
$out-of-stock: #fbf2ee;

//breakpoint
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
